<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NewsletterMSBLL.Properties.Settings.NewslettersDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=NewslettersDB;Persist Security Info=True;User ID=nladmin;Password=pwd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>